
h1 {
    margin: auto;
    width: 50%;
    padding: 20px;
    color: white;
}

body {
    color: white;
    background-color: black;
    font-size: 20px;
}

#left-side {
    position: relative;
    left: 10%;
    float: left;
}

#right-side {
    position: relative;
    float: right;
    right: 40%;
}

#moon1 {
    position: relative;
    padding: 20px;
}

#moon2, #moon3, #moon4, #moon5, #moon6, #moon7, #moon8, #moon9, #moon10, #moon11, #moon12, #moon13 {
    position: relative;
    display: none; 
    padding: 20px;
}

#puppy {
    position: relative;
    display: none;
}

#werewolf {
    position: relative;
    display: none;
}

#man {
    position: relative;
    padding: 30px;
}